data/raw/*.csv
logs/
__pycache__/
*.pyc
.git/
.github/
.vscode/
.idea/
node_modules/
frontend/node_modules/
frontend/dist/
*.egg-info/
build/
dist/
.env
venv/
.venv/
optuna/
*.db
metrics/
airflow/
notebooks/
monitoring/
*.log
