__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

artifacts/
logs/
models/

.mlflow/

.ipynb_checkpoints/

data/raw/
data/processed/
notebooks/catboost_info
fraud_detection.egg-info/

.env

*.csv
*.parquet


outputs/

test.py
test_validation.py
tessst_ingestion.py
test_preprocessing.py
test_feature_engineering.py
fraud_detection.egg-info/SOURCES.txt
