pandas
numpy
scikit-learn
catboost
lightgbm
optuna
mlflow==3.11.1
dvc
dagshub==0.7.0
pandera==0.31.1
prometheus-client==0.24.1
python-dotenv>=1.0.0
fastapi
uvicorn
evidently
pyyaml
joblib
dvc-s3
feast[postgres,redis]
psycopg2-binary
