pandas 
numpy 
polars 
pyarrow 
scikit-learn 
matplotlib 
seaborn
xgboost 
lightgbm 
catboost 
optuna 
mlflow==3.11.1
hydra-core
dvc
dagshub==0.7.0
pandera==0.31.1
prometheus-client==0.24.1
python-dotenv>=1.0.0
fastapi 
uvicorn
evidently
imbalanced-learn 
jupyter
shap
pyyaml 
joblib
dvc-s3
feast[postgres,redis]
psycopg2-binary
redis
flaml
